.ag-theme-quartz {
  --ag-foreground-color:rgb(14,100,15);
  --ag-background-color:rgb(241,247,255);
  --ag-header-background-color:rgb(128,237,250);
  --ag-header-foreground-color:rgb(100,138,255);
  --ag-row-hover-color:red;
}

.green-cell {
  color:red;
}

.red-row {
  background-color: rgb(43, 90, 171);
}